%p{id: "notice"}= notice

%h1 Entries

%table
  %thead
    %tr
      %th Title
      %th Body
      %th{colspan: "3"}

  %tbody
    - @entries.each do |entry|
      %tr
        %td= entry.title
        %td= entry.body
        %td= link_to 'Show', entry
        %td= link_to 'Edit', edit_entry_path(entry)
        %td= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' }

%br

%h2 Entryのid:1(title:はじめてのエントリー)に紐づくComment
%table
  %thead
    %tr
      %th id
      %th body
      %th status
      %th entry_id

  %tbody
    - @commentsWhereEntryIdEq1.each do |comment|
      %tr
        %td= comment.id
        %td= comment.body
        %td= comment.status
        %td= comment.entry_id

%br

%h2 Entryのid:1(title:はじめてのエントリー)に紐づくComment
%table
  %thead
    %tr
      %th id
      %th title
      %th body

  %tbody
    - @entriesWhereCommentStatusIsUnapproved.each do |entry|
      %tr
        %td= entry.id
        %td= entry.title
        %td= entry.body

%br

%h2 Blogのid:1に紐づくすべてのComment
%table
  %thead
    %tr
      %th id
      %th body
      %th status
      %th entry_id

  %tbody
    - @commentsWhereBlogIdEq1.each do |comment|
      %tr
        %td= comment.id
        %td= comment.body
        %td= comment.status
        %td= comment.entry_id

%br

%h2 まだEntryを書いていないBlog
%table
  %thead
    %tr
      %th id
      %th title

  %tbody
    - @blogsWhereNotExistsEntry.each do |blog|
      %tr
        %td= blog.id
        %td= blog.title

%br

%h2 statusがunapprovedであるCommentがあるEntryのあるBlog
%table
  %thead
    %tr
      %th id
      %th title

  %tbody
    - @blogsWhereCommentsEqUnapproved.each do |blog|
      %tr
        %td= blog.id
        %td= blog.title

%br

= link_to 'New Blog Entry', new_blog_entry_path(@entries.first.blog_id)
