<p id="notice"><%= notice %></p>

<h1>Entries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.title %></td>
        <td><%= entry.body %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Entryのid:1(title:はじめてのエントリー)に紐づくComment</h2>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>body</th>
      <th>status</th>
      <th>entry_id</th>
    </tr>
  </thead>

  <tbody>
    <% @commentsWhereEntryIdEq1.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.body %></td>
        <td><%= comment.status %></td>
        <td><%= comment.entry_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Entryのid:1(title:はじめてのエントリー)に紐づくComment</h2>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>body</th>
    </tr>
  </thead>

  <tbody>
    <% @entriesWhereCommentStatusIsUnapproved.each do |entry| %>
      <tr>
        <td><%= entry.id %></td>
        <td><%= entry.title %></td>
        <td><%= entry.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Blogのid:1に紐づくすべてのComment</h2>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>body</th>
      <th>status</th>
      <th>entry_id</th>
    </tr>
  </thead>

  <tbody>
    <% @commentsWhereBlogIdEq1.each do |comment| %>
      <tr>
        <td><%= comment.id %></td>
        <td><%= comment.body %></td>
        <td><%= comment.status %></td>
        <td><%= comment.entry_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>まだEntryを書いていないBlog</h2>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
    </tr>
  </thead>

  <tbody>
    <% @blogsWhereNotExistsEntry.each do |blog| %>
      <tr>
        <td><%= blog.id %></td>
        <td><%= blog.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>statusがunapprovedであるCommentがあるEntryのあるBlog</h2>
<table>
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
    </tr>
  </thead>

  <tbody>
    <% @blogsWhereCommentsEqUnapproved.each do |blog| %>
      <tr>
        <td><%= blog.id %></td>
        <td><%= blog.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
